.body {
    margin: 0;
}

.container {
    width: 70%;
    overflow: hidden;
    margin: auto;
}
.header{
    height: 100%;
    overflow: hidden;
    background-color: darkslategrey;
    padding: 50px;
    margin-bottom: 50px;
}

.header .logo {
    font-size: 30px;
    color: chartreuse;
    font-family: LimeLight;
    float: left;
}

.header .nav {
    float: right;
    margin-top: 40px;
}

.header .nav li {
    float: right;
    margin-left: 20px;
    font-size: 20px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header .nav li a {
    color: azure;
    text-decoration: none;
}

.header.nav li a:hover{
    color:yellow;
    text-decoration: underline;
}

.header.nav li a:visited{
    color: blue;
}

/* install fonts */
@font-face {
    font-family: LimeLight;
    src: url('../fonts/Limelight-Regular.ttf');
}